<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <div class="container">
      
      <h1>Sign In</h1>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Sign In" class="btn">
        <input type="button" onclick="location.href=' register'" value="Register" class="btn" />
        {{!-- <a class="btn" href="/history" >{{>dateArray[index-1]}}Register</a> --}}
      </form>
    </div>
    {{!-- <script src="login.js"></script> --}}
  </body>
</html>
