<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirmpassword" required>

        <input type="submit" value="Sign Up" class="btn">
      </form>
    </div>
    <script type="text/html" src="../../src/register.js">
      // const __dirname=path.resolve();
      // const jspath = path.join(__dirname, "./src/models");
      // import Register form "jspath/register.js"
    </script>
  </body>
</html>
