.container {
    margin: 100px auto;
    width: 330px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  